<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socks</title>
    <script defer src="./js/vue.js"></script>
    <script defer src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div>
    <label>Group Name:</label>
    <input v-model="groupName" />
    <label>Item 1:</label>
    <input v-model="inputOne" />
    <label>Item 2:</label>
    <input v-model="inputTwo" />
    <label>Item 3:</label>
    <input v-model="inputThr" />
    <label>Item 4:</label>
    <input v-model="inputFor" />
    <button @click="addCard">Add Card</button>
  </div>
</body>
</html>